{
   "key1/sKey2" : {
      "valueName4" : {
         "data" : "data content4",
         "type" : "REG_SZ"
      },
      "valueName3" : {
         "data" : "data content3",
         "type" : "REG_SZ"
      }
   },
   "key1/sKey1" : {
      "valueName2" : {
         "data" : "data content2",
         "type" : "REG_SZ"
      },
      "valueName1" : {
         "data" : "data content",
         "type" : "REG_SZ"
      }
   }
}
